'.source.js':
  'ProtoSS':
    'prefix': 'protoss'
    'body': 'function ${1:ClassName}($2) {\n\tvar o = this,\n\t\ta = arguments;\n\t$3\n\to.super(a$4);\n\tvar m = {};\n\t$5\n\to.superize(a, m, true, true);\n\treturn o;\n}'
  'ProtoSS Method':
    'prefix': 'protossMethod'
    'body': 'm.${1:name} = function $2($3) {\n\t$4\n\treturn $5;\n};'
  'ProtoSS Async Method':
    'prefix': 'protossAsyncMethod'
    'body': 'm.${1:name} = async function $2($3) {\n\t$4\n\treturn $5;\n};'
  'ProtoSS Method Promise':
    'prefix': 'protossMethodPromise'
    'body': 'm.${1:name} = function $2($3) {\n\t$4\n\treturn new Promise(resolve => {$5});\n};'
  'ProtoSS Method Promise All':
    'prefix': 'protossMethodPromiseAll'
    'body': 'm.${1:name} = function $2($3) {\n\t$4\n\treturn Promise.all([\n\t\tnew Promise(resolve => {$5}),\n\t\tnew Promise(resolve => {$6})\n\t]);\n};'
  'ProtoSS Var':
    'prefix': 'protossVar'
    'body': 'o.${1:name} = ${2:value};'
  'ProtoSS Const Await':
    'prefix': 'protossConstAwait'
    'body': 'const ${1:name} = await ${2:Promise};'
  'ProtoSS Package':
    'prefix': 'protossPackage'
    'body': 'window.package("${1:protoss.package}").internal(\n\tfunction ${2:ClassName}($3) {\n\t\tvar o = this,\n\t\t\ta = arguments;\n\t\t$4\n\t\to.super(a$5);\n\t\tvar m = {};\n\t\t$6\n\t\to.superize(a, m, true, true);\n\t\treturn o;\n\t}\n);'
  'ProtoSS Class Package':
    'prefix': 'protossClassPackage'
    'body': 'window.package("${1:protoss.package}").internal(\n\tclass ${2:ClassName} {\n\t\tconstructor($3) {\n\t\t\t$4\n\t\t}\n\t}\n);'
  'ProtoSS Class Extends Package':
    'prefix': 'protossClassExtendsPackage'
    'body': 'window.package("${1:protoss.package}").internal(\n\tclass ${2:ClassName} extends ${3:SuperName} {\n\t\tconstructor($4) {\n\t\t\tsuper($5);\n\t\t\t$6\n\t\t}\n\t}\n);'
  'ProtoSS Class Create Reference':
    'prefix': 'protossClassCreateReference'
    'body': '(function(reference) {\n\tvar ${1:Namespace} = reference.getAccessAttribute("${2:AccessName}", "${3:AccessPackage}");\n\treference = null;\n\twindow.package("${4:protoss.package}").internal(\n\t\tclass ${5:ClassName} {\n\t\t\tconstructor() {\n\t\t\t\t${1:Namespace}.prototype.create.call(this);\n\t\t\t\t${1:Namespace}.prototype.update.call(this, "${6:name}", ${7:value});\n\t\t\t}\n\t\t\t${8:readFromNamespace}($9) {\n\t\t\t\tvar ${6:name} = ${1:Namespace}.prototype.read.call(this, "${6:name}");\n\t\t\t\t$10\n\t\t\t\treturn ${6:name};\n\t\t\t}\n\t\t\tdestroy() {\n\t\t\t\t${1:Namespace}.prototype.destroy.call(this);\n\t\t\t}\n\t\t}\n\t);\n})(reference);'
  'ProtoSS Class Extends Reference':
    'prefix': 'protossClassExtendsReference'
    'body': '(function(reference) {\n\tvar ${1:Namespace} = reference.usens("${2:namespace.package}").AccessAttribute;\n\treference = null;\n\twindow.package("${3:protoss.package}").internal(\n\t\tclass ${4:ClassName} extends ${5:protoss.package.SuperName} {\n\t\t\tconstructor($6) {\n\t\t\t\tsuper($7);\n\t\t\t\t${1:Namespace}.prototype.update.call(this, "${8:name}", ${9:value});\n\t\t\t}\n\t\t\t${10:readFromNamespace}($11) {\n\t\t\t\tvar ${8:name} = ${1:Namespace}.prototype.read.call(this, "${8:name}");\n\t\t\t\t$12\n\t\t\t\treturn ${8:name};\n\t\t\t}\n\t\t}\n\t);\n})(reference);'
  'ProtoSS Access Use Namespace':
    'prefix': 'protossAccessUseNamespace'
    'body': 'const ${1:Namespace} = reference.usens("${2:package.access}").AccessAttribute;'
  'ProtoSS Get Access Attribute':
    'prefix': 'protossGetAccessAttribute'
    'body': 'const ${1:Namespace} = reference.getAccessAttribute("${2:protoss.package}", "${3:access}");'
  'ProtoSS Access CRUD':
    'prefix': 'protossAccessCRUD'
    'body': '${1:Namespace}.prototype.create.call(this);\n${1:Namespace}.prototype.read.call(this, "${2:name}");\n${1:Namespace}.prototype.update.call(this, "${2:name}", ${3:value});\n${1:Namespace}.prototype.destroy.call(this);'
  'ProtoSS Access Create':
    'prefix': 'protossAccessCreate'
    'body': '${1:Namespace}.prototype.create.call(this);'
  'ProtoSS Access Read':
    'prefix': 'protossAccessRead'
    'body': '${1:Namespace}.prototype.read.call(this, "${2:name}");'
  'ProtoSS Access Update':
    'prefix': 'protossAccessUpdate'
    'body': '${1:Namespace}.prototype.update.call(this, "${2:name}", ${3:value});'
  'ProtoSS Access Destroy':
    'prefix': 'protossAccessDestroy'
    'body': '${1:Namespace}.prototype.destroy.call(this);'
  'ProtoSS Header Implement':
    'prefix': 'protossHeaderImplement'
    'body': 'ProtoSS.headerImplement.push(["${1:ClassName}", "${2:Interface}"]);'
  'ProtoSS Header Super':
    'prefix': 'protossHeaderSuper'
    'body': 'ProtoSS.headerSuper.push(["${1:ClassName}", "${2:SuperClass}"]);'
  'ProtoSS Header Super List':
    'prefix': 'protossHeaderSuperList'
    'body': 'ProtoSS.headerSuperList${1:2}.push(["${2:ClassName}", [\n\t"${3:SuperClass}",\n\t"${4:SuperOrInterface}"\n]]);'
  'ProtoSS Interface':
    'prefix': 'protossInterface'
    'body': '${1:var} ${2:Interface} = {\n\t${3:name}: [${4:Type}]\n}.interface("${2:Interface}");'
  'ProtoSS Abstract':
    'prefix': 'protossAbstract'
    'body': '${1:var} ${2:Abstract} = {\n\t${3:name}: ${4:0}\n}.abstract("${2:Abstract}");'
  'ProtoSS Require Supername':
    'prefix': 'protossRequireSupername'
    'body': 'const ${1:rsn} = require("${2:./}${3:utils/nano/}RequireSupername.js");\n${1:rsn}.initRequireSupername();\n${1:rsn}.loadFromJSON("${4:namespacemap.json}", __dirname);'
  'ProtoSS Import Default':
    'prefix': 'protossImportDefault'
    'body': 'import ${1:defaultExport} from "${2:module}";'
  'ProtoSS Import All':
    'prefix': 'protossImportAll'
    'body': 'import * as ${1:name} from "${2:module}";'
  'ProtoSS Import/Export':
    'prefix': 'protossImportExport'
    'body': 'import { ${1:export} } from "${2:module}";'
  'ProtoSS Import/Export Alias':
    'prefix': 'protossImportExportAlias'
    'body': 'import { ${1:export} as ${2:alias} } from "${3:module}";'
  'ProtoSS Import/Export 2':
    'prefix': 'protossImportExport2'
    'body': 'import { ${1:export1}, ${2:export2} } from "${3:module}";'
  'ProtoSS Import/Export Many':
    'prefix': 'protossImportExportMany'
    'body': 'import { ${1:export1}, ${2:export2} as ${3:alias2}, ${4:[...]} } from "${5:module}";'
  'ProtoSS Import/Export Default/Many':
    'prefix': 'protossImportExportDefaultMany'
    'body': 'import ${1:defaultExport}, { ${2:export1}${3:, [...]} ] } from "${4:module}";'
  'ProtoSS Import Default/All':
    'prefix': 'protossImportDefaultAll'
    'body': 'import ${1:defaultExport}, * as ${2:name} from "${3:module}";'
  'ProtoSS Import':
    'prefix': 'protossImport'
    'body': 'import "${1:module}";'
  'ProtoSS Module Exports':
    'prefix': 'protossModuleExports'
    'body': 'module.exports.${1:VAR} = ${1:VAR};'
