'atom-workspace':
  'f7': 'ide-protoss:token'
  'ctrl-f7': 'ide-protoss:prevtoken'
  'shift-f7': 'ide-protoss:seltoken'
  'alt-f7': 'ide-protoss:retoken'
  'ctrl-alt-f7': 'ide-protoss:refresh'
  'ctrl-shift-f7': 'ide-protoss:json'
  'alt-shift-f7': 'ide-protoss:md'
  'ctrl-shift-alt-f7': 'ide-protoss:projson'
  'f8': 'ide-protoss:resolve'
  'alt-f8': 'ide-protoss:resolveshell'
  'ctrl-shift-f8': 'ide-protoss:supers'
